extends layout

block content
    div(ng-app='group')
        h1 Configure Your application
        link(type='text/css', href='/css/ui-peppercorn/jquery-ui.min.css',  rel='stylesheet')
        script(type='text/javascript', src='/js/lib/jquery.js')
        script(type='text/javascript', src='/js/client.js')
             
        div(ng-controller='ConfigController as config' )
            form(ng-submit='config.saveConfig()')
                label(for='client_id') Client ID: 
                input(type='text' ng-model='config.client_id',size='40')
                br
                label(for='client_secret') client_secret: 
                input(type='text' ng-model='config.client_secret',size='100')
                br
                label(for='scope') scope:
                input(type="text",ng-model='config.scope',size='120')
                br
                label(for='redirect_uri') redirect Uri:
                input(type="text",ng-model='config.redirect_uri',size='100')
                br
                input(type="submit",value="GITIT").btn.btn-primary