extends layout

block content
    div(ng-app='group')
        h1.
            Activity for #{name}
        link(type='text/css', href='/css/ui-peppercorn/jquery-ui.min.css',  rel='stylesheet')
        script(type='text/javascript', src='/js/lib/jquery.js')
        script(type='text/javascript', src='/js/lib/ui-bootstrap-tpls-0.12.1.min.js')
        script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
        script(type="text/javascript", src="https://www.google.com/jsapi")
        script(type='text/javascript', src='/js/client.js')

        script(type='text/javascript').
            $(function() {
                //debugger;
                //$(".dp").datepicker({dateFormat:"yy-mm-dd"});
            });
            google.load('visualization', '1', {'packages':['corechart']});
            
             
        div(ng-controller='FormController as frm' )
            form(ng-submit='frm.getData()' ng-init='frm.gid = #{id}')
                {{frm.strLbl}}
                p.input-group
                    input(type='text', ng-model='frm.startDate', class="form-control", datepicker-popup="yyyy-MM-dd",  min-mode='month', is-open="frm.opened", datepicker-options="frm.dateOptions", date-disabled="frm.disabled(date, mode)", ng-required="true", close-text="Close")
                    span.input-group-btn
                        button(type="button", ng-click="frm.open($event)").btn.btn-default
                            i.glyphicon.glyphicon-calendar
                datepicker(ng-model="frm.startDate", datepicker-mode='month', show-weeks='false', min-mode='month').well.well-sm
                {{frm.endLbl}}
                input(type='text', ng-model='frm.endDate' )
                br
                input(type="text",ng-model='frm.gid')
                input(type="submit",value="GITIT").btn.btn-primary
                div#chart_div
                div#resultsView
                    span {{frm.startDate | date:shortDate }} to {{frm.endDate}}
                    br
                    span {{frm.results}}