extends layout

block content
    h1.
        Welcome #{fbData.name}
    Here are the groups you're an admin of (link to stats page):
    ul
        each grp, i in fbData.adminGroups
            li
                a(href="/fb/group/#{grp.id}")= grp.name
    
    br
    Here are the groups you're a member of (link to FB):
    ul
        each mgrp, i in fbData.allGroups
            li
                a(href="http://facebook.com/groups/#{mgrp.id}")= mgrp.name