doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js")
  body
    block content